img {
    max-height: 50%;
    max-width: 100%;
}

.category-list {
    width: 120px;
    position: fixed;
}

    .category-list a {
        background-color: #eee;
        color: #1a1a1a;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .category-list a:hover {
            background-color: #ccc;
        }

        .category-list a.active {
            background-color: #5cb85c;
        }


.body-content-edit-product {
    margin: 70px;
    width: 940px;
    height: auto;
}

.body-content-product {
    margin: 70px;
    margin-left: 150px;
    width: 940px;
    height: auto;
}

.product-item {
    padding: 10px;
    vertical-align: top;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
}

.body-content-get-product {
    margin: 100px;
    margin-top: 75px;
    position: relative;
}

.product-main-text {
    float: left;
    text-align: left;
}

.product-main-info {
    display: inline-block;
}

.product-main-manage {
    margin-top: -30px;
    float: right;
    vertical-align: top;
}

.product-edit-form-upload {
    margin-top: 30px;
    float: right;
    vertical-align: top;
}

.product-image {
    float: right;
    max-height: 500px;
    max-width: 400px;
}

.product-get-manage {
    margin-top: -50px;
    vertical-align: top;
    float: right;
}

.product-image-preview {
    margin-right: 250px;
    display: inline-block;
    max-width: 400px;
}

.product-accept-btn {
    clear: both;
    margin-top: 20px;
}

.cart-add-qnt {
    display: none;
    text-align: center;
}

    .cart-add-qnt button {
        width: 50px;
    }

    .cart-add-qnt span {
        font-size: 14px;
        font-weight: 200;
        display: inline-block;
        width: 35px;
        border: 1px solid;
    }

.header-for-cart > li > a {
    color: black;
}

.cart-header-qnt {
    position: absolute;
    text-align: center;
    border-radius: 13px;
    width: 20px;
    background-color: white;
    top: -5px;
    left: 40px;
}

.cart-image {
    position: relative;
    float: right;
    margin: 0;
    display: block;
    margin-block-start: 0.65em;
    padding-inline-start: 20px;
}

.cart-body {
    margin-top: 20px;
    width: 940px;
    height: auto;
}

.cart-product {
    width: 700px;
    float: left;
    font-size: 18px;
    font-weight: 700;
    overflow: auto;
    clear: left;
    text-align: left;
    border-bottom: 1px solid #00a9ff;
    padding: 5px;
}


    .cart-product img {
        float: left;
        max-width: 80px;
        max-height: 80px;
    }

    .cart-product .name {
        margin-left: 15px;
        display: inline-block;
        width: 300px;
    }

    .cart-product .price {
        display: inline-block;
        width: 150px;
    }

    .cart-product .input[type==checkbox] {
        float: left;
        vertical-align: middle;
    }

.cart-product-last-child {
    border-bottom: none;
}

.cart-product input {
    text-align: center;
    width: 50px;
}

.cart-final {
    width: 300px;
    display: inline-block;
    margin-left: 50px;
}

.cart-final p{
    margin-top: 10px;
    font: 300 16px verdana, sans-serif;
}

    .cart-final .item-count {
        float: right;
    }

    .cart-final .item-value {
        float: right;
    }

    .cart-final .final-title {
        margin-left: 50px;
        font: 700 24px verdana, sans-serif;
    }

    .cart-final button{
        margin-left: 110px;
    }

footer {
    clear: both;
    position: relative;
    height: 200px;
}
