.body-content-product {
    margin: 100px;
    width: 940px;
    height: 900px;
}

.product-item {
    vertical-align: top;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
    padding: 50px;
}
