img {
    max-height: 50%;
    max-width: 100%;
}

.category-list {
    width: 120px;
    position: fixed;
}

    .category-list a {
        background-color: #eee;
        color: #1a1a1a;
        display: block;
        padding: 12px;
        text-decoration: none;
    }
        .category-list a:hover {
            background-color: #ccc;
        }

        .category-list a.active {
            background-color: #5cb85c;
        }


.body-content-edit-product {
    margin: 70px;
    width: 940px;
    height: auto;
}

.body-content-product {
    margin: 70px;
    margin-left: 110px;
    width: 940px;
    height: auto;
}

.product-item {
    vertical-align: top;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
}

.body-content-get-product {
    margin: 100px;
    margin-top: 75px;
    position: relative;
}

.product-main-text {
    float: left;
    text-align: left;
}

.product-main-info {
    display: inline-block;
}

.product-main-manage {
    margin-top: -30px;
    float: right;
    vertical-align: top;
}

.product-edit-form-upload {
    margin-top: 30px;
    float: right;
    vertical-align: top;
}

.product-image {
    float: right;
    max-height: 500px;
    max-width: 400px;
}

.product-get-manage {
    margin-top: -50px;
    vertical-align: top;
    float: right;
}

.product-image-preview{
    margin-right: 250px;
    display: inline-block;
    max-width: 400px;
}

.product-accept-btn {
    clear:both;
    margin-top: 20px;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
}
